.timeline{
background:#141006;
padding:80px;
color:white;
text-align:center;
}

.timeline-title{
margin-bottom:50px;
font-size:26px;
}

.timeline-container{
display:flex;
gap:40px;
justify-content:center;
flex-wrap:wrap;
}

.timeline-card{
width:250px;
border:1px solid gold;
padding:20px;
text-align:left;
}

.timeline-card img{
width:100%;
height:180px;
object-fit:cover;
margin-bottom:10px;
}

.year{
color:gold;
font-size:13px;
}

.desc{
color:#9ca3af;
font-size:14px;
}